<fw-panel>
  <div class="well">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-sm-12">
        <h1>About MILLENNIUM</h1>
        <p>MILLENNIUM HAS 15 + Years experience in North American Software Consulting Business !!</p>
        <p>Millennium Software has over 15 years of Enterprise Application experience in a wide variety of industries using
          proven methodologies, providing our clients with end-to-end business management solutions. Our Legacy, ERP, CRM,
          Cloud solution implementation methodologies cover every step of the implementation process.</p>
          <p>Millennium Software Consulting, LLC is an Information Technology Management and Consulting services company with offices
              in the US and India. Formed by some of the industry's most experienced and knowledgeable people, MSC is growing to
              be one of the best-managed consulting companies in the world. MSC has established itself as a reliable supplier of
              IT services. We specialize in IT staff augmentation, On-site and Off-site IT consulting, Turnkey Project Outsourcing,
              and eBusiness Solutions. Our software professionals have successfully worked on many on-site and off-site IT consulting
              engagements across the US. Our business focus includes areas of on-site, off-site and offshore information technology
              consulting services and software development. The software development centers in our corporate office at Charlottesville,
              VA and at Chennai, India are well equipped to undertake software development, maintenance and conversion activities</p>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-0">
        <img src="assets/experience-logo.png" class="img-rounded img-responsive thumbnail" alt="MILLENNIUM" />
      </div>
    </div>
  </div>
</fw-panel>
<fw-panel>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Mission Statement</h1>
      <p>To be the preferred provider of Business and Technology Solutions for our customers competitive advantage. </p>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Why MSC</h1>
      <p>At MSC, we build solutions using Strategic Concepts and Operational Skills to deliver tangible results that generate
        competitive advantage for our customers across various industries. We achieve this through understanding the unique
        Corporate Culture of our customers to maximize commitment and our value return to customers industry standard methodologies
        and best practices the application of IT as an enabler solutions offered by our expert knowledge workers .
      </p>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Key Differentiators</h1>

      <ul>
        <li> Quality </li>
        <li> Price </li>
        <li> Control</li>
        <li> Customer Oriented Business Management</li>
        <li> Flexible Service Offerings and Capability </li>
        <li> Financial Stability</li>
        <li> Stellar references </li>
        <li> Locations Diversity </li>
        <li> Standardized methodologies for IT services</li>
      </ul>

    </div>
  </div>
</fw-panel>