<fw-panel>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4">Contact Millennium Software</h2>
      <p>To contact Millennium Software Consulting for sales, support, business development, Project Management or a partner
        request, please fill out this short form. A representative will contact you quickly</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4">Contact Us</h2>
    </div>
    <div class="col-sm-4">
      <address>
        <strong>Corporate Headquarters</strong>
        <br>
        <br>2114 Angus Road, Suite # 221,
        <br>Charlottesville,VA - 22901..
        <br>Ph: (434) 245-0741
        <br>Fax: (434) 245-4031
        <br>Fax: (434) 207-5545
        <br>Email: info@msc-it.com
      </address>
    </div>
    <div class="col-sm-4">
      <address>
        <strong>Chennai</strong>
        <br>
        <br>Millennium Software Consulting LTD.
        <br>121 ,1st Floor ,
        <br>Parsen Commerciall Complex ,
        <br>Anna Salai,
        <br>Chennai-600002.
        <br>Email : Suresh@msc-it.com
      </address>
    </div>
    <div>
      <address>
        <strong>Texas Operation office</strong>
        <br>
        <br>Millennium Software Consulting, LLC
        <br>5605 N. Macarthur Blvd, 10th Floor ,
        <br>Irving , TX - 75038 ,
        <br>Phone : 434-245-0741
        <br>Fax: (434) 207-5545
        <br>Email: Suresh@msc-it.com
      </address>
    </div>
  </div>
</fw-panel>