<fw-panel>
        <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <h1>Services</h1>
                        <p>Providing Value added business Solutions for our customers competitive advantage Millennium Software
                                Consulting offers end to end IT outsourcing and consulting services to our customers. MSC
                                actively participates in local and national technology and project management forums to understand
                                the consulting requirements of our customers and provide value added service with the help
                                of our Quality and Service processes. Currently, we offer the following types of services.
                        </p>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <h1>Systems Integration</h1>
                        <p>Leveraging our broad industry experience and system integrator partnerships with software vendors,
                                MSC offers system integration services to our customers in ERP, CRM, BI, EAI, SCM, Portals,
                                Web Content Management areas. Delivering powerful enterprise solutions for our customers'
                                competitive advantage MSC has been delivering system integration solutions to our customers
                                using market leading software packages such as SAP, Oracle, Siebel, Peoplesoft, Microsoft
                                Business Solutions, Share Point Portals, Broad Vision, SeeBeyond, E-Piphany, FileNet, Business
                                Objects, COGNOS and Informatica. MSC offers implementation and migration services that integrate
                                disparate software systems and applications in the following areas:
                        </p>
                        <ul>
                                <li> Enterprise Resource Planning </li>
                                <li> Customer Relationship Management </li>
                                <li> Enterprise Application Integration</li>
                                <li> Supply Chain Management</li>
                                <li> Business Intelligence </li>
                                <li> Portals</li>
                                <li> Web Content Management </li>

                        </ul>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <h1>Technologies</h1>
                        <ul>
                                <li> ERP - SAP, Oracle, Peoplesoft, Microsoft </li>
                                <li> CRM - Siebel, Peoplesoft, Microsoft </li>
                                <li> Portals - Microsoft SharePoint</li>
                                <li> BI - COGNOS, Business Object, Microstrategy, Informatica</li>
                                <li> EAI - SeeBeyond </li>
                                <li> Content Management - Broadvision, Meracdo</li>
                        </ul>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <h1>Offshore Delivery and Support </h1>
                        <p>Our offshore center in Chennai, India has high end consultants who can work with our on-site team
                                in providing the following support to our system integration services.</p>
                        <ul>
                                <li> Code and data migration</li>
                                <li> Code and data migration </li>
                                <li> Application enhancement and maintenance</li>
                                <li> Business process re-engineering</li>
                        </ul>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <h1>Outsourcing</h1>
                        <p>MSC offers outsourced services with off-site and offshore delivery capabilities and industry expertise.
                                Our offshore center in India provides the right mix of talents and infrastructure for our
                                customers to depend on us for Web and legacy application development and maintenance, Testing
                                and technical support, ERP/CRM/BI implementation and upgrade, and Wireless solution development.
                        </p>

                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <h1>Consulting </h1>
                        <p>MSC offers a high quality on-site and off-site IT consulting services to our customers. Using our
                                on-staff model, MSC can provide a team of professionals from Project managers to QA consultants
                                that can manage, implement, test and deploy the project under customer guidance. Our management
                                team has experience with top tier customers in supporting their task sourcing needs, be it
                                complex IT application infrastructure initiatives or legacy application maintenance. MSC
                                employs a large pool of consultants trained and certified in the market leading software
                                tools, processes and methodologies. MSC service delivery team has the skill and processes
                                to match the business critical needs of our customers and provide the right task sourcing
                                service at the right time. Our customers look toward MSC to provide them with the following
                                resources.
                        </p>
                        <ul>
                                <li> Engagement Managers, Project Managers, Project Coordinators</li>
                                <li> Application, Infrastructure and Data Architects </li>
                                <li> Technology Consultants, technical Leaders</li>
                                <li> Programmers, QA testers</li>
                                <li> Technical writers, Help Desk technicians</li>
                                <li> Database and Network Administrators and Engineers</li>
                        </ul>
                </div>
        </div>
</fw-panel>