<p>
  Services	
Providing Value added business Solutions for our customers competitive advantage Millennium Software Consulting offers end to end IT outsourcing and consulting services to our customers. MSC actively participates in local and national technology and project management forums to understand the consulting requirements of our customers and provide value added service with the help of our Quality and Service processes. Currently, we offer the following types of services.

Systems Integration	
Leveraging our broad industry experience and system integrator partnerships with software vendors, MSC offers system integration services to our customers in ERP, CRM, BI, EAI, SCM, Portals, Web Content Management areas. Delivering powerful enterprise solutions for our customers' competitive advantage MSC has been delivering system integration solutions to our customers using market leading software packages such as SAP, Oracle, Siebel, Peoplesoft, Microsoft Business Solutions, Share Point Portals, Broad Vision, SeeBeyond, E-Piphany, FileNet, Business Objects, COGNOS and Informatica. MSC offers implementation and migration services that integrate disparate software systems and applications in the following areas:
        Enterprise Resource Planning
        Customer Relationship Management
        Enterprise Application Integration
        Supply Chain Management
        Business Intelligence
        Portals
        Web Content Management

Technologies	
        ERP - SAP, Oracle, Peoplesoft, Microsoft
        CRM - Siebel, Peoplesoft, Microsoft
        Portals - Microsoft SharePoint
        BI - COGNOS, Business Object, Microstrategy, Informatica
        EAI - SeeBeyond
        Content Management - Broadvision, Meracdo

Offshore Delivery and Support	
Our offshore center in Chennai, India has high end consultants who can work with our on-site team in providing the following support to our system integration services.
        Code and data migration
        Customization of reports
        Application enhancement and maintenance
        Business process re-engineering

Outsourcing 
MSC offers outsourced services with off-site and offshore delivery capabilities and industry expertise. Our offshore center in India provides the right mix of talents and infrastructure for our customers to depend on us for Web and legacy application development and maintenance, Testing and technical support, ERP/CRM/BI implementation and upgrade, and Wireless solution development. 

Consulting 
MSC offers a high quality on-site and off-site IT consulting services to our customers. Using our on-staff model, MSC can provide a team of professionals from Project managers to QA consultants that can manage, implement, test and deploy the project under customer guidance. Our management team has experience with top tier customers in supporting their task sourcing needs, be it complex IT application infrastructure initiatives or legacy application maintenance. MSC employs a large pool of consultants trained and certified in the market leading software tools, processes and methodologies. MSC service delivery team has the skill and processes to match the business critical needs of our customers and provide the right task sourcing service at the right time. Our customers look toward MSC to provide them with the following resources. 
* Engagement Managers, Project Managers, Project Coordinators
* Application, Infrastructure and Data Architects
* Technology Consultants, technical Leaders
* Programmers, QA testers,
* Technical writers, Help Desk technicians
* Database and Network Administrators and Engineers

Technologies 
Languages - C++, Java, VC++, VB, PERL, JSP, ASP, ASP.Net, VB.Net, VBScript, JavaScript, Tcl / Tk, PHP, Visual Age for Java, COBOL, SQL

IDE/RAD - IBM VisualAge, Symantec VisualCafe, Borland Jbuilder, MS Frontpage, Allaire's HomePage

Content - HTML, XML, WML, Dreamweaver, Flash, Shockwave, CFML, InterWoven, BroadVision, Mercado

Distributed/Middleware - CORBA, ActiveX, COM, DCOM, Java Beans, EJB, ATG Dynamo, BEA Tuxedo, J2EE, RMI, MQSeries, LDAP, Silverstream, CICS, DB2Connect

Groupware - Lotus Notes, Domino, MS Office, IBM Mail Exchange, Office Vision/MVS

Application Servers - BEA WebLogic, IBM WebSphere, Vignette Story Server, Netscape Application Server, ColdFusion, MS Site Server

Web Servers - Apache, IIS, Java WS, WAP, Oracle Portal

Databases/Data warehousing/CRM - Oracle 7x/ 8i, SQL server 6.x/ 7.0/2000, MS Access, Informix 4.x/5.x/7.x, Sybase, COGNOS, Business Objects, SAS, Teradata, Microstrategy, Siebel, Informatica, Passport

Operating Systems - Win NT, Solaris, Linux, HP-UX, AIX

Telecom/Datacom - SNMP, Voice Over IP, TAPI, ATM, POSIX, VXWork 
</p>
