<fw-panel>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>ERP Solutions </h1>
      <p>MSC believes that basic idea behind ERP is efficiency. ERP software can streamline the inner workings of a business
        by letting each individual business unit share information in a common standardized way. But the time it takes the
        different approaches, and the sometimes-colossal cost, can leave some decision-makers befuddled when it comes to
        ERP.
      </p>
      <p>
        MSC identifies the vital considerations in ERP package selection starts with a clear articulation of the business problems
        being addressed the reason a company is looking for an ERP solution is that one of its three core corporate functions
        need to be fixed. In other words, its financial data is not integrated, or it needs to standardize its manufacturing
        processes across several business units, or its human resources area needs some heavy-duty reengineering. Depending
        upon which of the three is the critical function, certain enterprise software offerings may be better suited to meet
        those needs.
      </p>
      <p>
        MSC brings a powerful combination of experience, strong partnerships, industry expertise, technology leadership and global
        delivery to each of enterprise software projects.
      </p>
      <p>
        Our PeopleSoft, Oracle, Lawson, SAP, Supply Chain and ERP Integration practices place strong emphasis on partnerships to
        deliver excellent value and bottom-line results for our global customers. We focus on providing unique solutions
        that help reduce the time and cost of enterprise software projects to clients in an wide range of business sectors,
        including Public Sector, A and D, Healthcare, Services and Industrial.
      </p>
      <p>
        We also continue to provide the functional application expertise, technical knowledge, and project management know-how our
        customers have come to expect, with skills, templates, methodologies, and ingenuity that enable us to deliver an
        on-time, production-ready system on time and within your budget.
      </p>

    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>ERP Services</h1>
      <p>Difficult to find the right people with the right tools to help implement a solution? </p>
      <p> That's why MSC specializes in ERP Consulting and Solutions that will be the most effective with meeting your needs
        in a cost-effective and productive manner.
      </p>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>ERP Consulting </h1>
      <p>When it comes to hiring the best brains in the IT sector, there's no better partner than MSC Corporation. With extensive
        experience in IT staffing, we provide highly skilled consultants to implement virtually any IT project. If you wish
        to control and manage your own project, but need experienced people to follow your lead, MSC Corporation will provide
        you with the best talents. MSC ERP has the expertise to meet any of your IT needs, on-site, off-site or offshore.
        We work in an honest and professional manner to help our clients achieve success. At MSC Corporation, the services
        we provide will meet or exceed your expectations!</p>>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Our consulting solutions include </h1>
      <ul>
        <li> HRMS, Financials, e-Procurement</li>
        <li> Student Administration and Contributor Relations</li>
        <li> Supply Chain Management (SCM)</li>
        <li> Customer Relationship Management (CRM)</li>
        <li> ERP Integration solutions</li>
        <li> Business Intelligence/Data Warehouse/Enterprise Performance Management</li>
        <li> Collaborative e-Business Applications</li>
        <li> Portal/Web Development</li>
        <li> Technology Solutions</li>
        <li> Business Workflow and Process Reengineering</li>
        <li> Product Upgrades and Migrations</li>
        <li> Training </li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Your Solutions </h1>
      <p>SAP : Our seasoned expert SAP consultants provide valuable business skills and software expertise in the mySAP business
        suite. Our services include SAP's Mobile Solutions, Business Intelligence, and the entire suite of Customer Relationship
        Management. Our technical, functional, and management consulting expertise ensures your SAP investment produces business
        efficiencies, reduces costs, and increases revenue growth.</p>

      <p> Oracle : Our Oracle practice provides E-Business Suite software expertise and specific Manufacturing, Distribution,
        CRM/SFA, projects, HRMS, WMS, Financials and Training consulting services to organizations of all types. We leverage
        experience and relationships developed over years as an Oracle Solutions Partner to bring a wealth of resources and
        understanding to your project. </p>

      <p> PeopleSoft : With more than a dozen years of experience with PeopleSoft and J.D. Edwards, no one is better positioned
        than MSC to help PeopleSoft customers. We are one partner with experience helping Enterprise™, EnterpriseOne™ (formerly
        J.D. Edwards OneWorld) and PeopleSoft World™ (formerly J.D. Edwards World) clients successfully build, integrate
        and support these critical business systems.</p>

      <p> Siebel : MSC's Lawson Software practice meets the unique needs of mid- to large-sized organizations through comprehensive
        solution offerings for a variety of industries. Our solutions help organizations implement state-of-the-art, integrated,
        and collaborative business and technology solutions.</p>

      <p> Supply Chain : MSC ERP Solutions' Supply Chain Management practice blends the industry expertise, technical skills
        and operational experience of our consultants with your staff's unique business knowledge to unlock the potential
        of your supply chain. We can provide new direction for your supply chain processes and infrastructure, leading to
        improved productivity and measurement, reduced costs, and greater profitability across your entire operation.
      </p>

    </div>
  </div>
</fw-panel>